:root {
    --mono-fonts: 'Roboto Mono', 'Consolas', monospace;
}

.hidden {
    display: none;
}

body {
    font-family: sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin: 15px 0;
}

.tab-link {
    display: inline-block;
    cursor: pointer;
    background: #eeeeee;
    padding: 5px;
    margin: 2px;
}

.selected {
    border-style: solid;
    border-color: #222222;
}

input {
    padding: 5px;
}

pre {
    font-family: var(--mono-fonts);
}
table {
    margin: 10px 0;
    font-family: var(--mono-fonts);
}

table, td {
    border-style: solid;
    border-collapse: collapse;
}

thead {
    background-color: #eeeeee;
}

tbody {
    font-size: 80%;
}

td {
    vertical-align: top;
    padding: 4px;
}

#instructions ._command {
    display: none;
}
#instructions .description {
    width: 50ch;
}
#instructions .opcode {
    width: 20ch;
}
#instructions .example, #instructions .example pre {
    width: 50ch;
}
#instructions .example {
    overflow-x: auto;
}

#io_registers .name {
    width: 8ch;
}